@import url(./normalize.css);

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.page {
  max-width: 100vw;
  min-width: 720px;
  margin: 0 auto;
  background-color: #B6C9D5;
  color: #4e457d;
  font-family: '-apple-system',"BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.title {
  margin: 10px 0 10px 0;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.form {
  margin: 0 0 0 48px;
}

.form__text {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-auto-rows: 26px;
  gap: 8px 0;
}

.input__text {
  width: 200px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: #d3dfe6;
  color: #4e457d;
}

.input__text:focus {
  outline: none;
  border: 3px solid #4e457d;
}

.submit {
  width: 90px;
  cursor: pointer;
  background-color: #d3dfe6;
  color: #4e457d;
  border: none;
  height: 25px;
  transition: opacity .3s;
  border-radius: 5px;
}

.submit:focus {
  outline: none;
  border: 3px solid #4e457d;
}

.submit:hover {
  opacity: .7;
}

.mang {
  width: 208px;
  height: 25px;
  margin: 20px 0 0 0;
  background-color: #d3dfe6;
  color: #4e457d;
  border: none;
  transition: opacity .3s;
  border-radius: 5px;
  cursor: pointer;
}

.mang:hover {
  opacity: .7;
}

.mang:focus {
  outline: none;
  border: 3px solid #4e457d;
}


.text-area {
  margin: 60px 0 0 0;
  width: 250px;
  height: 600px;
  background-color: #d3dfe6;
  border: none;
  color:#4e457d;
  resize: none;
  border-radius: 5px;
  padding: 2px;
}

.text-area:focus {
  outline: none;
}

.label {
  font-weight: 700;
  font-size: 16px;
}

.button__copy {
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  text-align: center;
  display: block;
  width: 130px;
  height: 30px;
  background-color: #d3dfe6;
  color: #4e457d;
  border: none;
  transition: opacity .3s;
}

.button__copy:hover {
  opacity: .7;
}
